    .logo::before {

        content: "WEB";
        color:blue
    }
 .section_1 {
    
    justify-content: flex-CENTER;

    background-color: white;
    
    width: 1200px;
 }
  .nav{
    background-color: white;
    justify-content: space-between;
        width: 1200px;
        display: flex;
        display: flex;
        
    }
   .nav ul {
       display: flex;
       list-style: none;
       padding: 0;
       margin: 0;
   }
         .nav a {
             text-decoration: none;
             color: black;
         }
    
    
.order{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2F42;
        width: 1440px;
        height: 300px;
        display: flex;
        display: flex;
        display: flex;
            flex-direction: column;
            /* Afișează elementele într-o coloană */
            align-items: center;
            text-align: center;
            }
.orderbutton{
    padding: 10px 20px;
        font-size: 1em;
padding: 10px 20px;
    font-size: 1em;
    
    
}

.footer{
width: 1440px ;height: 312px; top: 2280px

}