    .logo::before {

        content: "WEB";
        color:blue
    }
 .section_1 {
    
    justify-content: ;

    background-color: white;
    

      
    
    width: 1200px;
 }

  .nav{
    background-color: white;
    
   
       
    }
    
    
  
.order{
    background-color:#2E2F42;
    width: 1440px;
    height: 600px;
    
}
.ordertext{
    text-align: center;
    color:white;
    size: 56px;
    height: 700;
    line-height: 60px;
  
    

}
.orderbutton{
    background-color: #4D5AE5;
margin-left: 650px;
margin-top: 250px;

}
.footer{
width: 1440px ;height: 312px; top: 2280px

}