    .logo::before {

        content: "WEB";
        color: rgb(0, 255, 21);
    }
 .section-background{width: 1440px;
   
 }
 .section_1{
    display: flex;
 }
 .container_section_1{ width: 1128px;

 }